.bar {
    max-width: 100%;
    width: 100%;
    outline: none;
    padding: 1rem;
    background-color: hsl(235, 24%, 19%);
    border: none;
    color: hsl(233, 14%, 35%);
    font-family: inherit;
    text-align: center;
    display: flex;
    justify-content: space-around;
    
    
    &__count {
        font-size: .75rem;
    }

    &__button {
        background: none;
        border: none;
        color: hsl(233, 14%, 35%);
        outline: none;
        cursor: pointer;
        font-size: .75rem;
        transition: ease-in .25s;
        

        &:hover {
            color: hsl(234, 39%, 85%);
        }

    
    }

   
}

@media(max-width:500px) {
   
    .bar{
        padding: .75rem;
    }

   .bar__button:first-of-type {
        margin-right: 1rem;
   }

   .bar__button:nth-of-type(3) {
    margin-left: 1rem;
}
}